
.green {
    color: green;
}

.red {
    color: red;
}





#block{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}





.traffic-light {
  width: 100px;
  height: 200px;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.red {
  background-color: #f00;
}

.yellow {
  background-color: #ff0;
}

.green {
  background-color: #0f0;
}

